body {
}
.page-header-image {
    display: inline-block;
    margin: 10px;
    width: 90px;
    height: 90px;
    background-image: url(Pages/MainPage/Images/logo.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    vertical-align: middle;
}
